.cardCount-stat {
  position: relative;
  width: 31px;
  img {
    height: 100%;
    width: 100%;
  }
  span {
    position: absolute;
    text-align: right;
    right: 5px;
    top: 6px;
    color: black;
  }
}
