.waitingPage {
  .row {
    .left {
      .players-container {
        -webkit-clip-path:border-box;
        clip-path: border-box;
        overflow: hidden;
        width: 100%;
        border-radius: 16px;
        border: 0.8px solid #e1e8f1;
        background: #fff;
        h3 {
          color: var(--dark-blue);
        }
        .players-container-header {
          padding: 20px;
          color: white;
          background: var(--dark-blue);
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 16px;
          h3 {
            color: white;
            margin: 0;
          }
        }
        .wrapper {
          display: flex;
          flex-direction: column;
          align-items: start;
          padding: 20px;
          box-sizing: border-box;
          .playerCard {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 16px;
            .letter {
              width: 39px;
              height: 39px;
              background: var(--dark-blue);
              border-radius: 50%;
              color: white;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            > div {
              display: flex;
              flex-direction: column;
              align-items: start;
              .pseudo {
                color: var(--dark-blue);
                text-align: start;
              }
            }
          }
        }
      }
    }
  }
}
