.statGamePage {
  width: 100%;
  height: 100%;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f3f0;
  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    h5,h4 {
      margin: 0;
    }
  }

  .head {
    padding: 20px;
    padding-top: 30px;
    width: 100%;
    height: 8%;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb;
    > div {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;
    }
  }
  .statValueElement {
    display: flex;
    border: 1px solid #ededed;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    background: #f9fafb;
    gap: 9px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 17px;
                font-size: 18px;
                text-align: start;
    .spanTop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      span:first-child {
        font-weight: bold;   
        color: black;
      }
      > span:last-child {
        background: #eceef2;
        color: black;
        padding: 5px 14px;
        border-radius: 50px;
        font-size: 15px;
      }
    }
    > span {
      width: 100%;
      background: white;
      border: 1px solid #e2e2e2;
      color: #a8a8a8;
      border-radius: 7px;
      padding: 5px;
      box-sizing: border-box;
    }
  }
  .boxContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: fit-content;
    background: white;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 18px;
    gap: 13px;
    box-sizing: border-box;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 92%;
    .left {
      padding: 24px;
      box-sizing: border-box;
      height: 100%;
      gap: 16px;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .right {
      width: 73%;
      height: 100%;
      padding: 24px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      gap: 15px;
      .gameplayPageContainer {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: white;
        box-sizing: border-box;
        #gameplayPage {
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }
      .gameplayPageContainer.fullScreen {
        position: absolute;
        left: 0;
        top: 0;
        border: 0;
        z-index: 100;
        #gameplayPage {
          border-radius: 0;
        }
      }
    }
  }
}

.statGamePage::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #a600ff 0%, #db00e6 50%, #a600ff 100%);
}
