#gameplayPage {
  .handDeck {
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    bottom: 7%;
    transform: translate(-50%, 0);  
    gap: 8px;
    >div{

      box-shadow: 0 -4px 14px 1px #8080806b;
    }
  } 
}
