.statGamePage {
  .right {
    .topRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;
      .col {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 46%;
        select {
          width: 100%;
          border: 0;
          padding: 15px 10px;
          border-radius: 10px;
          outline: 0;
        }

        .actionSection {
          .actionWrapper {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
         >   button {
              width: calc(50% - 7.5px);
              cursor: pointer;
              padding: 9px;
              font-size: 17px;
              border-radius: 10px;
              border: 0;
              background: #f8f8f8;
              border: 1px solid #1a313f63;
            }
          }
          .widgetAskPlayer { 
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            text-align: start;
            background: #f8f8f8;
            width: 100%;
            padding: 9px;
            box-sizing: border-box;
            gap:10px;
            border-radius: 13px;
              border: 1px solid #1a313f63;
            span{
                font-size: 17px;
                color: black;
            }
            .input-container {
              width: 100%;
              input {
                width: 100%;
                border: 1px solid #dddddd;
                background: white;
                box-sizing: border-box;
                padding: 5px 10px;
    border-radius: 5px;
              }
            }
            .buttonsContainer{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    >button{
          width: 43%;
    font-size: 17px;
    padding: 5px;
    height: 31px;
    border: 0;
    }
            }
          }
        }
      }
      .playerSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
          width: 100%;
          gap: 15px;
          .separator {
            width: 1px;

            background: #d0c3c3;
          }
          .detailWrapper {
            display: flex;
            width: 40%;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            > .rowInWrapper {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              > span:first-child {
                font-size: 18px;
              }
              > span:last-child {
                font-size: 15px;
                max-width: 60%;
                overflow-wrap: break-word;
                text-align: end;
              }
            }
          }
        }
      }
    }
  }
}
