#gameplayPage.test-app {
  .player {
    .withSkin {
      width: 40px;
      height: 40px;
      gap: 4px;
    }
    .pseudo {
      font-size: 16px;
    }
  }
}
#gameplayPage {
  position: relative;
  .player {
    position: absolute;
    z-index: 2;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 11px;
    height: fit-content;
    border-radius: 7px;
    box-sizing: border-box;
    color: black;
    text-shadow: 0 0 10.118px rgba(0, 0, 0, 0.97);
    text-align: center;

    .pseudo {
      color: #fff;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 0 10.118px rgb(89 89 89 / 97%);
      -webkit-text-stroke-color: #ffffff;
      -webkit-text-stroke-width: 0.4px;
      font-family: Arimo;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .withSkin {
      width: 55px;
      height: 55px;
      background-color: white;
      clip-path: border-box;
      position: relative;
      border: 0.2px solid #acacac;
      overflow: hidden;
      border-radius: 18%;
      border-radius: 15px;
      border: 2.529px solid color(display-p3 0 0 0 / 0.62);
      img {
        width: 150%;
        aspect-ratio: 1/1;
        height: 150%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -10%;
      }
    }
  }
  .currentPlayerTurn {
    .playerImageContainer {
      border: 4px solid gold !important;
    }
  }

  /* user - always at bottom */
  .player0 {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  /*==============2 players==============*/
  /* player 1 at top */
  .player1.playerCount2 {
    top: -44px;
    left: 50%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }

  /*==============3 players==============*/
  /* player 1 at left */
  .player1.playerCount3 {
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at right */
  .player2.playerCount3 {
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============4 players==============*/
  /* player 1 at left */
  .player1.playerCount4 {
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at top */
  .player2.playerCount4 {
    top: -44px;
    left: 50%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 3 at right */
  .player3.playerCount4 {
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============5 players==============*/
  /* player 1 at left */
  .player1.playerCount5 {
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at top-left */
  .player2.playerCount5 {
    top: -44px;
    left: 33%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 3 at top-right */
  .player3.playerCount5 {
    top: -44px;
    left: 67%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 4 at right */
  .player4.playerCount5 {
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============6 players==============*/
  /* player 1 at left */
  .player1.playerCount6 {
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at top-left */
  .player2.playerCount6 {
    top: -44px;
    left: 25%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 3 at top-center */
  .player3.playerCount6 {
    top: -44px;
    left: 50%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 4 at top-right */
  .player4.playerCount6 {
    top: -44px;
    left: 75%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 5 at right */
  .player5.playerCount6 {
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============7 players==============*/
  /* player 1 at left-top */
  .player1.playerCount7 {
    top: 30%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at left-bottom */
  .player2.playerCount7 {
    top: 70%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 3 at top-left */
  .player3.playerCount7 {
    top: -44px;
    left: 33%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 4 at top-right */
  .player4.playerCount7 {
    top: -44px;
    left: 67%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 5 at right-top */
  .player5.playerCount7 {
    top: 30%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 6 at right-bottom */
  .player6.playerCount7 {
    top: 70%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============8 players==============*/
  /* player 1 at left-top */
  .player1.playerCount8 {
    top: 30%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at left-bottom */
  .player2.playerCount8 {
    top: 70%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 3 at top-left */
  .player3.playerCount8 {
    top: -44px;
    left: 25%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 4 at top-center */
  .player4.playerCount8 {
    top: -44px;
    left: 50%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 5 at top-right */
  .player5.playerCount8 {
    top: -44px;
    left: 75%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 6 at right-top */
  .player6.playerCount8 {
    top: 30%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 7 at right-bottom */
  .player7.playerCount8 {
    top: 70%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============9 players==============*/
  /* player 1 at left-top */
  .player1.playerCount9 {
    top: 20%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at left-bottom */
  .player2.playerCount9 {
    top: 80%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 3 at top-1 */
  .player3.playerCount9 {
    top: -44px;
    left: 20%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 4 at top-2 */
  .player4.playerCount9 {
    top: -44px;
    left: 40%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 5 at top-3 */
  .player5.playerCount9 {
    top: -44px;
    left: 60%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 6 at top-4 */
  .player6.playerCount9 {
    top: -44px;
    left: 80%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 7 at right-top */
  .player7.playerCount9 {
    top: 20%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 8 at right-bottom */
  .player8.playerCount9 {
    top: 80%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============10 players==============*/
  /* player 1 at left-top */
  .player1.playerCount10 {
    top: 25%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at left-center */
  .player2.playerCount10 {
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 3 at left-bottom */
  .player3.playerCount10 {
    top: 75%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 4 at top-left */
  .player4.playerCount10 {
    top: -44px;
    left: 25%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 5 at top-center */
  .player5.playerCount10 {
    top: -44px;
    left: 50%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 6 at top-right */
  .player6.playerCount10 {
    top: -44px;
    left: 75%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 7 at right-top */
  .player7.playerCount10 {
    top: 25%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 8 at right-center */
  .player8.playerCount10 {
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 9 at right-bottom */
  .player9.playerCount10 {
    top: 75%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============11 players==============*/
  /* player 1 at left-top */
  .player1.playerCount11 {
    top: 25%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at left-center */
  .player2.playerCount11 {
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 3 at left-bottom */
  .player3.playerCount11 {
    top: 75%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 4 at top-1 */
  .player4.playerCount11 {
    top: -44px;
    left: 20%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 5 at top-2 */
  .player5.playerCount11 {
    top: -44px;
    left: 40%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 6 at top-3 */
  .player6.playerCount11 {
    top: -44px;
    left: 60%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 7 at top-4 */
  .player7.playerCount11 {
    top: -44px;
    left: 80%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 8 at right-top */
  .player8.playerCount11 {
    top: 25%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 9 at right-center */
  .player9.playerCount11 {
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 10 at right-bottom */
  .player10.playerCount11 {
    top: 75%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============12 players==============*/
  /* player 1 at left-top */
  .player1.playerCount12 {
    top: 25%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at left-center */
  .player2.playerCount12 {
    top: 50%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 3 at left-bottom */
  .player3.playerCount12 {
    top: 75%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 4 at top-1 */
  .player4.playerCount12 {
    top: -44px;
    left: 17%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 5 at top-2 */
  .player5.playerCount12 {
    top: -44px;
    left: 33%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 6 at top-3 */
  .player6.playerCount12 {
    top: -44px;
    left: 50%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 7 at top-4 */
  .player7.playerCount12 {
    top: -44px;
    left: 67%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 8 at top-5 */
  .player8.playerCount12 {
    top: -44px;
    left: 83%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 9 at right-top */
  .player9.playerCount12 {
    top: 25%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 10 at right-center */
  .player10.playerCount12 {
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 11 at right-bottom */
  .player11.playerCount12 {
    top: 75%;
    right: -60px;
    transform: translate(0, -50%);
  }

  /*==============13 players==============*/
  /* player 1 at left-1 */
  .player1.playerCount13 {
    top: 20%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 2 at left-2 */
  .player2.playerCount13 {
    top: 40%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 3 at left-3 */
  .player3.playerCount13 {
    top: 60%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 4 at left-4 */
  .player4.playerCount13 {
    top: 80%;
    left: -60px;
    transform: translate(0, -50%);
  }
  /* player 5 at top-1 */
  .player5.playerCount13 {
    top: -44px;
    left: 20%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 6 at top-2 */
  .player6.playerCount13 {
    top: -44px;
    left: 40%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 7 at top-3 */
  .player7.playerCount13 {
    top: -44px;
    left: 60%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 8 at top-4 */
  .player8.playerCount13 {
    top: -44px;
    left: 80%;
    flex-direction: column-reverse;
    transform: translate(-50%, -50%);
  }
  /* player 9 at right-1 */
  .player9.playerCount13 {
    top: 20%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 10 at right-2 */
  .player10.playerCount13 {
    top: 40%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 11 at right-3 */
  .player11.playerCount13 {
    top: 60%;
    right: -60px;
    transform: translate(0, -50%);
  }
  /* player 12 at right-4 */
  .player12.playerCount13 {
    top: 80%;
    right: -60px;
    transform: translate(0, -50%);
  }
}
