#gameplayPage {
  position: relative;
  .player {
    position: absolute;
    z-index: 2;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 11px;
    height: fit-content;
    border-radius: 7px;
    padding: 15px;
    box-sizing: border-box;
    color: black;
    text-shadow: 0 0 10.118px rgba(0, 0, 0, 0.97);
    text-align: center;

    .pseudo {
   
            color: #fff;
            font-weight: bold;
            text-align: center;
            text-shadow: 0 0 10.118px rgb(89 89 89 / 97%);
            -webkit-text-stroke-color: #ffffff;
            -webkit-text-stroke-width: 0.4px;
      font-family: Arimo;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .withSkin {
      width: 55px;
      height: 55px;
      background-color: white;
      clip-path: border-box;
      position: relative;
      border: 0.2px solid #acacac;
      overflow: hidden;
      border-radius: 18%;
      border-radius: 15px;
      border: 2.529px solid color(display-p3 0 0 0 / 0.62);
      img {
        width: 150%;
        aspect-ratio: 1/1;
        height: 150%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -10%;
      }
    }
  }
  .currentPlayerTurn {
    .playerImageContainer{
 
      border: 4px solid gold !important;
    }
  }

  /* user */
  .player0 {
    bottom: -12%;
    left: 50%;
    transform: translate(-50%);
  }

  /*player 1 at left when 3, 4, 5, 6 players */
  .player1.playerCount3,
  .player1.playerCount4,
  .player1.playerCount5,
  .player1.playerCount6 {
    top: 40%;
    left: 15px;
  }

  /*==============2players==============*/
  /*player 1 at top when 2 players*/
  .player1.playerCount2 {
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  /*==============3players==============*/

  /*player 1 at left when 3 players*/
  /*player 2 at right when 3 players*/
  .player2.playerCount3 {
    top: 40%;
    right: 15px;
    flex-direction: row-reverse;
  }

  /*==============4players==============*/

  /*player 1 at left when 4 players*/
  /*player 2 at top when 4 players*/
  .player2.playerCount4 {
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  /*player 3 at right when4 players*/
  .player3.playerCount4 {
    top: 40%;
    right: 15px;
    flex-direction: row-reverse;
  }

  /*==============5players==============*/

  /*player 1 at left when 5 players*/
  /*player 2 at top when 5 players*/
  .player2.playerCount5 {
    top: 15px;
    left: 35%;
  }
  /*player 3 at top when 5 players*/
  .player3.playerCount5 {
    top: 15px;
    right: 35%;
  }
  /*player 4 at right when 5 players*/
  .player4.playerCount5 {
    top: 40%;
    right: 15px;
    flex-direction: row-reverse;
  }

  /*==============6players==============*/

  /*player 1 at left when 6 players*/
  /*player 2 at top when 6 players*/
  .player2.playerCount6 {
    top: 15px;
    left: 27%;
  }
  /*player 3 at top when 6 players*/
  .player3.playerCount6 {
    top: 15px;
    right: 50%;
  }
  /*player 4 at top when 6 players*/
  .player4.playerCount6 {
    top: 15px;
    right: 20%;
  }

  /*player 5 at top when 6 players*/
  .player5.playerCount6 {
    top: 40%;
    right: 15px;
    flex-direction: row-reverse;
  }
  /*==============7players==============*/

  /*player 1 at left when 7 players*/
  .player1.playerCount7 {
    top: 60%;
    left: 21px;
  }
  /*player 2 at left when 7 players*/
  .player2.playerCount7 {
    top: 35%;
    left: 21px;
  }
  /*player 3 at top when 7 players*/
  .player3.playerCount7 {
    top: 15px;
    left: 33%;
  }
  /*player 4 at top when 7 players*/
  .player4.playerCount7 {
    top: 15px;
    right: 33%;
  }

  /*player 5 at top when 7 players*/
  .player5.playerCount7 {
    top: 35%;
    right: 15px;
    flex-direction: row-reverse;
  } /*player 6 at top when 7 players*/
  .player6.playerCount7 {
    top: 60%;
    right: 15px;
    flex-direction: row-reverse;
  }

  /*==============8players==============*/

  /*player 1 at left when 8 players*/
  .player1.playerCount8 {
    top: 60%;
    left: 21px;
  }
  /*player 2 at left when 8 players*/
  .player2.playerCount8 {
    top: 35%;
    left: 21px;
  }
  /*player 3 at top when 8 players*/
  .player3.playerCount8 {
    top: 15px;
    left: 27%;
  }
  /*player 4 at top when 8 players*/
  .player4.playerCount8 {
    top: 15px;
    left: 50%;
  }

  /*player 5 at top when 8 players*/
  .player5.playerCount8 {
    top: 15px;
    right: 21%;
  }

  /*player 6 at top when 8 players*/
  .player6.playerCount8 {
    top: 35%;
    right: 15px;
    flex-direction: row-reverse;
  } /*player 7 at top when 8 players*/
  .player7.playerCount8 {
    top: 60%;
    right: 15px;
    flex-direction: row-reverse;
  }
}
