.button {
  width: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 19px;
  box-sizing: border-box;
  cursor: pointer;
  img {
    width: 22px;
    height: 22px;
    display: inline-block;
  }
}
.button.greyButton {
  border-radius: 4px;
  opacity: 0.5;
  background: #0d172d;
  color: white;

  width: 23%;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.button.whiteButton {
  text-decoration: none;
  color: black;
  border-radius: 11.225px;
  background: #fff;
  background: color(display-p3 1 1 1);
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
}
.button.withoutborder {
  color: black;
}
.button.greyBorderButton {
  border-radius: 10px;
  border: 0.8px solid #e0e8f1;
  background: #fff;
  color: black;
}

.button.blackButton {
  background: #0d172d;
  color: white;
  border-radius: 4px;
}
.button.dark-grey {
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 7px;
  border: 0;
  background: #0f172b78;
  color: white;
}
