.testConfigPage {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-inline: 12%;
  box-sizing: border-box;
  background: #f5f3f0;
 
  .head {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    padding-top: 30px;
    width: 100%;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #e5e7eb;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 73%;
    .left {
      height: 60%;
      width: 54%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;

      display: flex;
      flex-direction: column;
      gap: 8px;

      .playerWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 12px;
        .playerConfig {
          width: 45%;
          background: white;
          border-radius: 13px;
          display: flex;
          flex-direction: column;
          align-items: start;
          padding: 21px;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.1);

          display: flex;
          flex-direction: row;
          align-items: start;
          justify-content: start;
          gap: 23px;
          .imageContainer {
            width: 60px;
            aspect-ratio: 1 / 1;
            border: 1px solid grey;
            clip-path: border-box;
            overflow: none;
            border-radius: 50%;
            position: relative;
            img {
              width: 132%;
              object-fit: contain;
              position: absolute;
              left: 50%;
              transform: translate(-50%);
              top: 0;
            }
          }
          > div {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            .linkApparence {
              color: #ef2121;
              font-size: 15px;
            }
          }
        }
        .addButton {
          width: 45%;
          background: white;
          border-radius: 13px;
          padding: 21px;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          gap: 23px;
          font-size: 23px;
          font-weight: bold;
          color: #99a1af;

          img {
            width: 30px;
            height: 30px;
          }
        }
        .addButton:hover {
          background: #f8f1ff;
        }
      }
    }
    .right {
      h3 {
        opacity: 0;
      }
      box-sizing: border-box;
      width: 34%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .explicationSection {
        width: 100%;
        background: white;
        padding: 21px;
        padding-bottom: 40px;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }

      .violetButton {
        background: #a600ff;
        margin-top: -20px;
        width: 56%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        border: 0;
        outline: 0;
        border-radius: 9px;
        font-weight: bold;
      }
    }
  }
}
.testConfigPage::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #a600ff 0%, #db00e6 50%, #a600ff 100%);
}
