#gameplayPage {
  .spectatorBanniere {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    background: rgba(13, 23, 45, 0.8);
    color: white;
    padding: 16px 20px;
    width: 36%;
    border-radius: 8px;
    p {    margin-block: 5px;
    font-size: 16px;
      margin-block: 5px;
    }
  }
}
