body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 200%;
  padding: 30px;
  box-sizing: border-box;

  #message {
    display: flex;
    width: 20%;
    flex-direction: column;
  }

  .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .players {
      height: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;

      .p1 , .p2 , .p3{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        gap: 2px;
        display: flex;
        flex-direction: column;
        align-items: start;
      } 
    }
    .gameStat {
      height: 20%;
      border: 1px solid blueviolet;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 10px;
      flex-wrap: wrap;
    }
  }

  .widget {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #80808063;
    width: 100vw;
    height: 100vh;

    .container {
      background-color: white; 
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 100; 
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 50%;
      justify-content: space-around;
    }
  }
}
