.gamesPage {
  height: 100%;
  background: linear-gradient(135deg, #f8fafc 0%, #f0f5f9 100%), #fff;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    padding: 2% 7%;
    flex-direction: row;
    height: 100%;
    .gameElement {
      width: 45%;
      border-radius: 4px;
      border: 0.8px solid #e0e8f1;
      background: #fff;
      height: 191px;
      aspect-ratio: 1 / 1;
      display: flex;
      flex-direction: row;
      p{

    font-size: 17px;
      }
      > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin: 0;
        padding: 18px 29px;
        box-sizing: border-box;
        gap: 13px;
        * {
          margin: 0;
        }
      }
      > img {
        height: 100%;
        aspect-ratio: 1 / 1;
        width: 20%;
        object-fit: contain;
      }
      .bottomContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .case {
          display: flex;
          flex-direction: row;
          gap: 12px;
          img {
            width: 45px;
          }
          div {
            display: flex;
            flex-direction: column;
            align-items: start;
          }
          .name {
            color: #5d7590;
            font-family: Arimo;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.419px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
