.homePage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 7%;
  padding-block: 3%;
  height: 100%;
  button {
    cursor: pointer;
  }
  background: linear-gradient(135deg, #f8fafc 0%, #f0f5f9 100%), #fff;
  > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    h1 {
      margin: 8px;
      font-size: 42px;
      width: fit-content;
    }
  }
  > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .content {
    width: 82%;
    .headerContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 15px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .left {
      border-radius: 19.242px;
      background: #fff;
      box-shadow:
        0 8.018px 12.026px -2.405px rgba(0, 0, 0, 0.1),
        0 3.207px 4.811px -3.207px rgba(0, 0, 0, 0.1);

      padding: 21px 39px;
      box-sizing: border-box;
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 23px;
      align-items: start;
      .contenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
          margin-block: 10px;
        }
      }
      p {
        margin-block: 8px;
        width: 81%;
        text-align: start;
        color: grey;
      }
      input {
        border-radius: 4px;
        border: 1px solid #e7e7e7;
        background: #f8fafc;
        color: #717184;
        font-size: 18px;
        padding: 10px;
        box-sizing: border-box;
        width: 80%;
      }
      .linkContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
      }
      h3 {
        text-transform: uppercase;
        font-weight: 300;
        color: #707670;

        > p {
          margin-top: -20px;
          margin: 0;
        }
        .container {
          width: 100%;
          ul li {
            text-align: start;
          }
        }
      }
    }
    .right {
      padding: 21px 39px;
      box-sizing: border-box;
      width: 45%;
      display: flex;
      text-align: start;
      flex-direction: column;
      gap: 23px;
      align-items: start;

      border-radius: 19.242px;
      color: white;
      background:
        radial-gradient(
          69.4% 72.09% at 50% 50%,
          rgba(255, 255, 255, 0.05) 0.2%,
          rgba(0, 0, 0, 0.05) 0%
        ),
        linear-gradient(135deg, #0c172d 0%, #2d425a 100%);
      box-shadow:
        0 8.018px 12.026px -2.405px rgba(0, 0, 0, 0.1),
        0 3.207px 4.811px -3.207px rgba(0, 0, 0, 0.1);
      .headerContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 15px;
        color: white !important;
      }
      > p {
        margin: 0;
        margin-top: -20px;
      }
      .container {
        width: 100%;
        ul li {
          text-align: start;
        }
        ul {
          margin: 0;
        }
      }
    }
  }
}
