.waitingPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  .row {
    height: calc(100% - 67px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      box-sizing: border-box;
      gap: 37px;
      .copyBlock {
        h1 {
          color: white;
        }
        h3 {
          text-transform: uppercase;
          font-weight: 100;
          font-size: 20px;
          color: #8ca2bb;
        }
        border-radius: 16px;
        border: 0.8px solid #e1e8f1;
        background: #fff;
        clip-path: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .top {
          width: 100%;
          color: white;
          background: #0d172d;
          padding: 26px 5px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .code {
            width: 80%;
            padding: 20px 1px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 10px;
            background: #1a293f;
            span:last-child {
              color: #c7d5e3;
              font-size: 28px;
            }
          }
        }
        .bottom {
          padding: 20px;
          box-sizing: border-box;
        }
      }

      .players-container {
        width: 100%;
        border-radius: 16px;
        border: 0.8px solid #e1e8f1;
        background: #fff;
        .players-container-header {
          padding: 20px;
          border-bottom: 1px solid #e1e8f1;
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 16px;
          h3 {
            margin: 0;
          }
          
        }
        .wrapper{

    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    box-sizing: border-box;
        }
      }
    }
    .right {
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      box-sizing: border-box;
    }
  }
  .send {
    background-color: #f8fafc;
    border: 0.8px solid #717182;
    border-radius: 10px;
    opacity: 0.5;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.8px;
    box-sizing: border-box;
    color: #717182;
    transition: opacity 0.2s ease;
    svg {
      width: 16px;
      height: 16px;
    }

    .send:hover {
      opacity: 0.7;
    }
  }
}
