.customCardOfGame {
  width: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        aspect-ratio: 0.67 / 1;
        border: 1px solid grey;
        border-radius: 8px;
        background: white;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
}

.customCardOfGame.hoverable:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.customCardOfGame.blink{
  
    border: 1px solid var(--jaune);
    animation: blinkAnimation 1s infinite;
}
.customCardOfGame.selected  {
    margin-bottom: 10px;
}

.customCardOfGame.selected::after{
 content: "";
    width: 90%;
    height: 90%;
    position: absolute;
    box-shadow: 0 0 30px 9px var(--jaune);
    bottom: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 0;
    transform: translate(-50%, 50%);
    animation: cardSelectedAnimation 2s infinite;
} 
@keyframes cardSelectedAnimation {
  0% {
  
    box-shadow: 0 0 30px 6px var(--jaune);
  }
  50% {
    box-shadow: 0 0 30px 12px var(--jaune);
  }  0% {
  
    box-shadow: 0 0 30px 6px var(--jaune);
  }
}
@keyframes blinkAnimation {
  0% {
    border-color: var(--jaune);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: var(--jaune);
  }
}